<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApplication1.Properties.Settings.testConnectionString"
            connectionString="server=localhost;User Id=root;password=eos50e;Persist Security Info=True;database=test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>